body{
  text-align: center;
  background-color: beige;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif
}

.board{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,auto);
}

.cell{
  border: 1px solid;
  border-color: black;
  height:100px;
  width:100px;
  display:flex;
  align-items: center;
}
